<h2>Здравствуйте, {{user}}!</h2>
<p>Пользователь {{trainer}} опубликовал новую тренировку</p>
<hr>
<h3>{{title}}</h3>
<p>{{level}}</p>
<p>{{type}}</p>
<p>{{gender}}</p>
<p>{{calories}}</p>
<p>{{description}}</p>
<p>{{price}}</p>
